body {
  margin: 0;
  background: url('http://wes.io/hx9M/oh-la-la.jpg') center no-repeat;
  background-size: cover;
  height: 100vh;
}

h2, ul, p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  position: relative;
  align-items: center;
  transform: translateY(-50%);
  top: 50%;
  padding: 10px;
  box-sizing: border-box;
  margin: 0 auto;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
  background: #fff;
  text-align: center;
}

.add-items {
  white-space: nowrap;
  margin: 10px 0 5px 0;
}

.plates {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

.plates li {
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  font-weight: 100;
  display: flex;
  align-items: center;
  user-select: none;
}

.plates li>label {
  flex: 1;
}

.add-items input {
  padding: 5px 8px;
}

input[name="item"] {
  border: 1px solid #bbb;
  outline: none;
  margin-right: 8px;
}

input[type="submit"] {
  border: 1px #00000010 solid;
  background: yellowgreen;
  cursor: pointer;
  outline: none;
  color: #fff;
  border-radius: 4px;
}

.plates input {
  display: none;
}

.plates input+label:before {
  content: "⬜️";
  margin-right: 10px;
  cursor: pointer;
}

.plates input:checked+label:before {
  content: '🌮';
}

.plates-controls {
  user-select: none;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: baseline;
  font-size: 10px;
}

.plates-controls label {
  padding-right: 6px;
  cursor: pointer;
}

input[type="checkbox"] {
  outline: none;
  cursor: pointer;
  margin: 0;
}

.btn-delete {
  background: tomato;
  color: #fff;
  border: none;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}
